.hero {
    height: 200px;
    background: linear-gradient(120deg, darkblue, purple);
    padding-top: 10%;
}

.l1 {
    border-top-left-radius: 5px;
}

.l3 {
    border-top-right-radius: 5px;
}

.l7 {
    border-bottom-left-radius: 5px;
}

.l9 {
    border-bottom-right-radius: 5px;
}

.l1,.l2,.l3,.l4,.l5,.l6,.l7,.l8,.l9 {
    width: 33.333%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.edit-container {
    padding-left: .5rem;
    padding-right: .5rem;
}
@media (max-width: 425px) {
    .edit-container {
        margin-top: 3rem;
    }
    .l1,.l2,.l3,.l4,.l5,.l6,.l7,.l8,.l9 {
        width: 33.333%;
        height: 105px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
}
@media (max-width: 375px) {
    .edit-container {
        margin-top: 2rem;
    }
}
@media (max-width: 320px) {
    .edit-container {
        margin-top: 1rem;
    }
    .l1,.l2,.l3,.l4,.l5,.l6,.l7,.l8,.l9 {
        width: 105px;
        height: 105px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
    .l9 {
        text-align: center;
    }
}
@media (min-width:768px) {
    .hero {
        height: 300px;
        padding-top: 5%;
    }
    .l1,.l2,.l3,.l4,.l5,.l6,.l7,.l8,.l9 {
        font-size: 1rem;
    }
    .edit-container {
        margin-top: 3rem;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1024px) {
    .edit-container {
        margin-top: 3rem;
    }
}
