.p-container {
    padding: 3rem 0;
}
.pd {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    align-items: center;
}

.pd-1 {
    background-image: url('../../assets/images/flight.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.pd-2 {
    background-image: url('../../assets/images/camera.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.pd-3 {
    background-image: url('../../assets/images/water.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.pd-4 {
    background-image: url('../../assets/images/ocean.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.pd a {
    font-size: .5rem;
}
@media (max-width: 425px) {
    .pop-list {
        height: 150px;
    }

    .pop-list a {
        width: 100px !important;
    }
}
@media (min-width: 768px) {
    .pd {
        height: 300px;
    }
    .pd a {
        font-size: 1rem;
    }
}